aiobotocore==2.4.0
aiofiles==24.1.0
aiogram==3.13.1
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aioitertools==0.10.0
aiosignal
aiosqlite
alabaster
anaconda-catalogs
anaconda-client
anaconda-navigator
anaconda-project
annotated-types
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
async-timeout
atomicwrites
attrs
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
boltons
boto3
botocore
Bottleneck
Brotli
brotlipy
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli
conda-token
conda-verify
conda_index
conda_package_streaming
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
daal4py
dask
datashader
datashape
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
docstring-to-markdown
docutils
entrypoints
et-xmlfile
executing
fastjsonschema
filelock
flake8
Flask
fonttools
frozenlist
fsspec
future
gensim
glob2
greenlet
h11
h2
h5py
HeapDict
holoviews
hpack
hvplot
hyperframe
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonpatch
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kaitaistruct
keyring
kiwisolver
lazy-object-proxy
lazy_loader
libarchive-c
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
magic-filter
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
mkl-fft
mkl-random
mkl-service
more-itertools
mpmath
msgpack
multidict
multipledispatch
munkres
mypy-extensions
navigator-updater
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
openpyxl
outcome
packaging
pandas
pandocfilters
panel
param
paramiko
parsel
parso
partd
pathlib
